.create-room-wrapper{
    margin: 2em;
}
.canvas-wrapper{
    padding: 50px 90px;
}
.title{
    margin: 0;
    font-size: 90px;
    color: white;
    text-align: center;
    text-shadow: 6px 6px 10px black;
}
input[type="text"]{
    font-family: 'Mikado Ultra';
}