.ready-stop-button-svg{
    /* transform: scale(1.0); */
    position: absolute;
    bottom: -50px;
    right: -40px;
    cursor: pointer;
    transform: rotate(15deg);
}
.ready-button-svg:hover{
    transform: rotate(0);
    transform: scale(1.1);
}
.ready-button-active-svg{
    /* transform: scale(1.15); */
    cursor: auto;
}
.sdff{
    
}